[tool.poetry]
name = "cookiecutter-pypackage"
version = "0.1.0"
description = "A cookiecutter template for a Python package"
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^21.11b1"
cookiecutter = "^1.7.2"
flake8 = "^4.0.0"
isort = "^5.10.1"
pytest = "^6"
pyupgrade = "^2.29.1"
pytest-mock = "^3.3.1"
pytest-cookies = "^0.6.0"

[tool.isort]
profile = "black"
known_first_party = ["{{ cookiecutter.package_name }}", "hooks", "tests"]

[tool.pytest.ini_options]
addopts = "-v -Wdefault"
testpaths = "tests/"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
