[tool.poetry]
name = "cookiecutter-pypackage"
version = "0.1.0"
description = "A cookiecutter template for a Python package"
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
cookiecutter = "^1.7.2"
flake8 = "^3.8.4"
isort = "^5.6.4"
pytest = "^5"
pytest-cookies = "^0.5.1"
pyupgrade = "^2.7.4"
pytest-mock = "^3.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
known_first_party = ["{{ cookiecutter.package_name }}", "hooks", "tests"]
