blank_issues_enabled: false
contact_links:
  - name: Questions
    url: https://github.com/{{ github_username }}/{{ project_slug }}/discussions/categories/q-a
    about: Please ask and answer questions here.
