[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools>=77.0.3" ]

[project]
name = "{{ project_slug }}"
version = "0.0.0"
description = "{{ project_short_description }}"
readme = "README.md"
{%- if open_source_license != "Not open source" %}
license = "{{ open_source_license }}"
{%- endif %}
authors = [
  { name = "{{ full_name }}", email = "{{ email }}" },
]
requires-python = ">=3.10"
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  {%- if is_django_package %}
  "Framework :: Django",
  "Framework :: Django :: 4.2",
  "Framework :: Django :: 5.0",
  "Framework :: Django :: 5.1",
  "Framework :: Django :: 5.2",
  "Framework :: Django :: 6.0",
  {%- endif  %}
  "Intended Audience :: Developers",
  "Natural Language :: English",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
  "Topic :: Software Development :: Libraries",
]
{%- if is_django_package or has_cli  %}
dependencies = [
  {%- if is_django_package  %}
  "django>=4.2",
  {%- endif %}
  {%- if has_cli  %}
  "rich>=10",
  "typer>=0.15,<1",
  {%- endif %}
]
{%- endif  %}
urls."Bug Tracker" = "https://github.com/{{ github_username }}/{{ project_slug }}/issues"
urls.Changelog = "https://github.com/{{ github_username }}/{{ project_slug }}/blob/main/CHANGELOG.md"
{%- if documentation %}
urls.documentation = "https://{{ project_slug }}.readthedocs.io"
{%- endif %}
urls.repository = "https://github.com/{{ github_username }}/{{ project_slug }}"
{%- if has_cli %}
scripts.{{ cli_name }} = "{{ package_name }}.cli:app"
{%- endif  %}

[dependency-groups]
dev = [
  "coverage",
  "pytest==9.*",
{%- if is_django_package  %}
  "pytest-django==4.*",
{%- else  %}
  "pytest-cov==7.*",
{%- endif %}
  "sybil[pytest]",
]
{%- if documentation %}
docs = [
  "furo; python_version>='3.12'",
  "myst-parser; python_version>='3.12'",
  "sphinx==9.*; python_version>='3.12'",
  "sphinx-autobuild; python_version>='3.12'",
]
{%- endif %}
{%- if is_django_package %}
django42 = [ "django>=4.2a1,<5" ]
django50 = [ "django>=5.0a1,<5.1" ]
django51 = [ "django>=5.1a1,<5.2" ]
django52 = [ "django>=5.2a1,<6" ]
django60 = [ "django>=6.0a1,<6.1; python_version>='3.12'" ]

[tool.uv]
conflicts = [
  [
    { group = "django42" },
    { group = "django50" },
    { group = "django51" },
    { group = "django52" },
    { group = "django60" },
  ],
]
{%- endif %}

[tool.ruff]
line-length = 88
lint.select = [
  "B",   # flake8-bugbear
  "C4",  # flake8-comprehensions
  "D",   # flake8-docstrings
  "E",   # pycodestyle
  "F",   # pyflake
  "I",   # isort
  "RUF", # ruff specific
  "S",   # flake8-bandit
  "UP",  # pyupgrade
  "W",   # pycodestyle
]
lint.ignore = [
  "D100", # Missing docstring in public module
  "D104", # Missing docstring in public package
  "D107", # Missing docstring in `__init__`
  "D203", # 1 blank line required before class docstring
  "D212", # Multi-line docstring summary should start at the first line
  "D401", # First line of docstring should be in imperative mood
]
lint.per-file-ignores."conftest.py" = [ "D100" ]
{%- if documentation %}
lint.per-file-ignores."docs/conf.py" = [ "D100" ]
{%- endif %}
lint.per-file-ignores."setup.py" = [ "D100" ]
lint.per-file-ignores."tests/**/*" = [
  "D100",
  "D101",
  "D102",
  "D103",
  "D104",
  "S101",
]
lint.isort.known-first-party = [ "{{ package_name }}", "tests" ]

[tool.pyproject-fmt]
max_supported_python = "3.14"

[tool.pytest]
minversion = "9.0"
addopts = [
  "-v",
  "-Wonce",
  "-p no:doctest",
{%- if not is_django_package  %}
  "--cov={{ package_name }}",
  "--cov-report=term",
  "--cov-report=xml",
{%- endif  %}
]
pythonpath = [ "src" ]
{%- if is_django_package  %}
DJANGO_SETTINGS_MODULE = "tests.settings"
{%- endif  %}

[tool.coverage]
run.branch = true
{%- if is_django_package  %}
run.parallel = true
run.source = [ "{{ package_name }}" ]
{%- endif  %}
paths.source = [
  "src",
  ".tox/**/site-packages",
]
report.exclude_lines = [
  "@overload",
  'if __name__ == "__main__":',
  "if TYPE_CHECKING",
  "pragma: no cover",
  "raise NotImplementedError",
]

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_defs = true
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_unreachable = true
warn_unused_ignores = true
exclude = [
{%- if documentation %}
  "docs/.*",
{%- endif %}
  "setup.py",
]
overrides = [
  { module = "tests.*", allow_untyped_defs = true },
{%- if documentation %}
  { module = "docs.*", ignore_errors = true },
{%- endif %}
]

[tool.semantic_release]
version_toml = [ "pyproject.toml:project.version" ]
version_variables = [
  "src/{{ package_name }}/__init__.py:__version__",
  {%- if documentation %}
  "docs/conf.py:release",
  {%- endif %}
]
build_command = """
pip install uv
uv lock
git add uv.lock
uv build
"""
branches.main.match = "main"
branches.noop.match = "(?!main$)"
branches.noop.prerelease = true
changelog.exclude_commit_patterns = [
  "chore(?:\\([^)]*?\\))?: .+",
  "ci(?:\\([^)]*?\\))?: .+",
  "refactor(?:\\([^)]*?\\))?: .+",
  "style(?:\\([^)]*?\\))?: .+",
  "test(?:\\([^)]*?\\))?: .+",
  "build\\((?!deps\\): .+)",
  "Merged? .*",
  "Initial [Cc]ommit.*",         # codespell:ignore
]
changelog.environment.keep_trailing_newline = true
