# {{ project_name }}

<p align="center">
  <a href="https://github.com/{{ github_username }}/{{ project_slug }}/actions/workflows/ci.yml?query=branch%3Amain">
    <img src="https://img.shields.io/github/actions/workflow/status/{{ github_username }}/{{ project_slug }}/ci.yml?branch=main&label=CI&logo=github&style=flat-square" alt="CI Status" >
  </a>
  {%- if documentation %}
  <a href="https://{{ project_slug }}.readthedocs.io">
    <img src="https://img.shields.io/readthedocs/{{ project_slug }}.svg?logo=read-the-docs&logoColor=fff&style=flat-square" alt="Documentation Status">
  </a>
  {%- endif %}
  <a href="https://codecov.io/gh/{{ github_username }}/{{ project_slug }}">
    <img src="https://img.shields.io/codecov/c/github/{{ github_username }}/{{ project_slug }}.svg?logo=codecov&logoColor=fff&style=flat-square" alt="Test coverage percentage">
  </a>
</p>
<p align="center">
  <a href="https://python-poetry.org/">
    <img src="https://img.shields.io/endpoint?url=https://python-poetry.org/badge/v0.json" alt="Poetry">
  </a>
  <a href="https://github.com/ambv/black">
    <img src="https://img.shields.io/badge/code%20style-black-000000.svg?style=flat-square" alt="black">
  </a>
  <a href="https://github.com/pre-commit/pre-commit">
    <img src="https://img.shields.io/badge/pre--commit-enabled-brightgreen?logo=pre-commit&logoColor=white&style=flat-square" alt="pre-commit">
  </a>
</p>
<p align="center">
  <a href="https://pypi.org/project/{{ project_slug }}/">
    <img src="https://img.shields.io/pypi/v/{{ project_slug }}.svg?logo=python&logoColor=fff&style=flat-square" alt="PyPI Version">
  </a>
  <img src="https://img.shields.io/pypi/pyversions/{{ project_slug }}.svg?style=flat-square&logo=python&amp;logoColor=fff" alt="Supported Python versions">
  <img src="https://img.shields.io/pypi/l/{{ project_slug }}.svg?style=flat-square" alt="License">
</p>

---
{%- if documentation %}

**Documentation**: <a href="https://{{ project_slug }}.readthedocs.io" target="_blank">https://{{ project_slug }}.readthedocs.io </a>
{%- endif %}

**Source Code**: <a href="https://github.com/{{ github_username }}/{{ project_slug }}" target="_blank">https://github.com/{{ github_username }}/{{ project_slug }} </a>

---

{{ project_short_description }}

## Installation

Install this via pip (or your favourite package manager):

`pip install {{ project_slug }}`
{%- if not documentation  %}

## Usage
{%- if has_cli  %}

Call the command line interface:

```bash
{{ cli_name }} --help
```
{%- else  %}

Start by importing it:

```python
import {{ package_name }}
```
{%- endif %}
{%- endif %}

## Contributors ✨

Thanks goes to these wonderful people ([emoji key](https://allcontributors.org/docs/en/emoji-key)):

<!-- prettier-ignore-start -->
<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- markdownlint-disable -->
<!-- markdownlint-enable -->
<!-- ALL-CONTRIBUTORS-LIST:END -->
<!-- prettier-ignore-end -->

This project follows the [all-contributors](https://github.com/all-contributors/all-contributors) specification. Contributions of any kind welcome!

## Credits

This package was created with
[Copier](https://copier.readthedocs.io/) and the
[browniebroke/pypackage-template](https://github.com/browniebroke/pypackage-template)
project template.
