[tox]
isolated_build = true
requires =
    tox>=4.2
env_list =
    py313-django{52,51}
    py312-django{52,51,50,42}
    py311-django{52,51,50,42}
    py310-django{52,51,50,42}
    py39-django{42}

[testenv]
set_env =
    PYTHONDONTWRITEBYTECODE=1
dependency_groups =
    dev
deps =
    django52: Django>=5.2a1,<6.0
    django51: Django>=5.1,<5.2
    django50: Django>=5.0,<5.1
    django42: Django>=4.2,<5.0
commands =
    python \
      -m coverage run \
      -m pytest {posargs:tests}
