name: CI

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  # Tests for the template
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    name: "Template: ${{ matrix.python-version }} - ${{ matrix.os }}"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: snok/install-poetry@v1.3.2
      - name: Install Dependencies
        run: poetry install
      - name: Test with Pytest
        run: poetry run pytest

  # Generate project, run test, run linting and build docs
  cookie:
    strategy:
      fail-fast: false
      matrix:
        script:
          - run: "poetry run pytest"
            dir: ""
            name: "pytest"
          - run: "git init . && pipx run pre-commit run -a"
            dir: ""
            name: "pre-commit"
          - run: "poetry run make html"
            dir: "docs"
            name: "docs"
    runs-on: ubuntu-latest
    name: "Generated: ${{ matrix.script.name }}"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - uses: browniebroke/github-actions/cookie-taster@v1
        with:
          cc-options: "project_name='My Package'"
          command-dir: ${{ matrix.script.dir }}
          command: ${{ matrix.script.run }}
