name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    strategy:
      matrix:
        linter:
          - name: Flake8
            run: flake8 --config=setup.cfg tests
          - name: Black
            run: black --check tests
          - name: PyUpgrade
            run: pyupgrade --py36-plus `find tests -name "*.py"`
          - name: isort
            run: isort -c -v tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        python -m pip install -U pip
        pip install -r requirements.txt
    - name: ${{ matrix.linter.name }}
      run: ${{ matrix.linter.run }}
